<div id="card" class="animated fadeIn">
  <div id="upper-side">
    <img
      src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fca.pinterest.com%2Fpin%2F504966176973901710%2F&psig=AOvVaw1P8DLNc7qvI3egwkQERw50&ust=1725645698406000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCIiaqqmxrIgDFQAAAAAdAAAAABAE"
    />
    <h3 id="status">Success</h3>
  </div>
  <div id="lower-side">
    <p id="message">
      You have logged in succesfully.
    </p>
    <a href="#" id="contBtn">Continue</a>
  </div>
</div>
